:root {
    /* Màu chính */
    --primary-color: #007bff; /* Xanh */
    --secondary-color: #6c757d; /* Xám */
    --success-color: #28a745; /* Xanh lá */
    --danger-color: #dc3545; /* Đỏ */
    --warning-color: #ffc107; /* Vàng */
    --info-color: #17a2b8; /* Xanh nhạt */
  
    /* Màu nền */
    --background-light: #f8f9fa; 
    --background-dark: #343a40;
    --bg-green: #adfad8;
    --bg-green-light:#e9f2ed;
  
    /* Màu chữ */
    --text-primary: #212529; /* Chữ chính */
    --text-secondary: #6c757d; /* Chữ phụ */
  
    /* Biến tiện ích */
    --border-radius: 4px;
    --transition-duration: 0.3s;
  }

  